<!-- home.html -->
<div class="page-header">
    <div class="jumbotron">
        <div class="container">
            <h1>Bem vindo ao SIGO!</h1>
            <p>Sistema para gerenciamento de ocorrências escolares.</p>
            <a class="btn btn-default btn-lg" href="" role="button">Nova ocorrência</a>
            <a class="btn btn-default btn-lg" href="" role="button">Pesquisar ocorrências</a>
            <a class="btn btn-default btn-lg" href="" role="button">Pesquisar pareceres</a>
            <a class="btn btn-default btn-lg" href="" role="button">Pesquisar feedback</a>
        </div>
    </div>
</div>
</div>
